.field {
    position: relative;
    overflow: hidden;
}

#inputcss {
    background-color: yellow;
    width: 250px;
    height: 600px;
    border: 2px solid black;
    float: left;
    text-align: center;
}

#boxcolor {
    height: 600px;
    width: 600px;
    float: right;
    background-color: lightgrey;
}

.square {
    background-color: red;
    position: absolute;
}

.rectangle {
    background-color: green;
    position: absolute;
}

.triangle {
    height: 0;
    width: 0;
    position: absolute;
}

.circle {
    background-color: purple;
    border-radius: 50%;
    position: absolute;
}

.feedback{
    background-color: lightgray;
    height: 14em;
    width: 64em;
    float: right;
    margin-right: 12.5em;
    padding: 1em;
    margin-top: 4em;
    border: 5px solid yellow;
    border-radius: 10px 10px;
    box-shadow: 0 0 0 3px darkgray,
    
}
.innerfeed1{
   float:left;
   height: 15%;
   width: 45%;
   background-color: lightgray

}
.innerfeed2{
 float:right; 
 height: 15%;
 width: 45%;
 background-color: lightgray
}