.field {
    position: relative;
    overflow: hidden;
}

#inputcss {
    background-color: yellow;
    width: 250px;
    height: 390px;
    border: 2px solid black;
    float: left;
}

#boxcolor {
    height: 600px;
    width: 600px;
    float: right;
    background-color: lightgrey;
}

.square {
    background-color: red;
    position: absolute;
}

.rectangle {
    background-color: green;
    position: absolute;
}

.triangle {
    height: 0;
    width: 0;
    position: absolute;
}

.circle {
    background-color: purple;
    border-radius: 50%;
    position: absolute;
}